<script setup>
import logo from '@/assets/logo.svg'
import fbicon from '@/assets/img/icon/facebook.svg'
import igicon from '@/assets/img/icon/instagram.svg'
import twittericon from '@/assets/img/icon/twitter.svg'
import youtubeicon from '@/assets/img/icon/youtube.svg'
import { reactive } from 'vue'

const footerData = reactive({
  data: [
    {
      title: 'Maxlif For Dog',
      subtitle: ['Vet Talk', 'Max Pet Life', 'Max Share', 'Max In Love'],
      classes: 'order-1'
    },
    {
      title: 'Maxlif For Cat',
      subtitle: ['Vet Talk', 'Max Pet Life', 'Max Share', 'Max In Lovely'],
      classes: 'order-2'
    },
    {
      title: 'Shop',
      subtitle: ['Shop For Dogs', 'Shop For Cats'],
      classes: 'order-3'
    },
    {
      title: 'News & Story',
      classes: 'order-5 lg:order-4'
    },
    {
      title: 'About Us',
      subtitle: ['Our History', 'Our Team', 'FAQ'],
      classes: 'order-4 lg:order-5'
    },
    {
      title: 'Contact Us',
      classes: 'order-6'
    }
  ],
  icon: [fbicon, igicon, twittericon, youtubeicon]
})
</script>

<template>
  <div class="py-12 lg:py-20 border-t-2 border-b-2 border-black-border">
    <div class="w-11/12 lg:w-10/12 mx-auto">
      <img :src="logo" class="w-[150px] mx-auto" />
      <div class="flex justify-between flex-wrap lg:flex-nowrap mt-14">
        <div
          v-for="(footer, index) in footerData.data"
          :key="index"
          class="flex-[50%] mb-8 lg:mb-0"
          :class="footer.classes"
        >
          <h3 class="font-bold text-sm leading-6 lg:text-base text-center lg:text-left">
            {{ footer.title }}
          </h3>
          <div v-for="(subtitle, index) in footer.subtitle" :key="index">
            <p class="mt-2 text-xs lg:text-sm lg:leading-6 text-center lg:text-left">
              {{ subtitle }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-8">
    <div class="flex justify-between max-w-[240px] mx-auto">
      <div v-for="icons in footerData.icon" :key="icons" class="">
        <div class="bg-yellow-main rounded-full w-[40px] h-[40px] p-2.5">
          <img :src="icons" class="" />
        </div>
      </div>
    </div>
    <p class="text-center text-sm lg:text-xl leading-8 mt-6">
      © 2021 Maxlife. All Rights Reserved.
    </p>
  </div>
</template>
