<script setup>
import Logo from '../../assets/logo.svg'
import Toggle from '../../assets/img/main/navTggle.svg'
import ButtonBase from '../../themes/ButtonBase.vue'
import { RouterLink } from 'vue-router'
import { reactive } from 'vue'

const toggleNavMobile = reactive({ state: false })
const dataMenu = reactive({
  menu: ['Max for Dogs', 'Max for Cats', 'Forum', 'Vet Talk', 'Max Share', 'Contact us']
})
function switchToggle() {
  toggleNavMobile.state = !toggleNavMobile.state
}
</script>

<template>
  <div class="bg-gray-main">
    <nav class="w-10/12 h-[132px] hidden lg:flex mx-auto justify-between items-center">
      <div><img :src="Logo" alt="logo" class="w-32 xl:w-[150px] xl:h-[37px]" /></div>
      <div v-for="listMenu in dataMenu.menu" :key="listMenu">
        <RouterLink to="/" class="mx-3 xl:mx-6">{{ listMenu }}</RouterLink>
      </div>
      <div>
        <ButtonBase>Join us</ButtonBase>
      </div>
    </nav>
  </div>
  <div class="bg-white">
    <nav class="w-11/12 mx-auto">
      <div class="h-28 flex lg:hidden mx-auto justify-between items-center">
        <div>
          <img
            :src="Toggle"
            @click="switchToggle"
            alt="logo"
            class="w-[40px] xl:w-[150px] xl:h-[37px]"
          />
        </div>
        <div><img :src="Logo" alt="logo" class="w-[100px] h-[25px]" /></div>
        <div>
          <img :src="Toggle" alt="logo" class="w-[40px] xl:w-[150px] xl:h-[37px] invisible" />
        </div>
      </div>
      <div v-show="toggleNavMobile.state" class="flex flex-col pb-8">
        <div v-for="listMenu in dataMenu.menu" :key="listMenu">
          <RouterLink to="/" class="px-4 py-2 my-1 block bg-slate-200 rounded-lg">{{
            listMenu
          }}</RouterLink>
        </div>
        <div class="mt-2">
          <ButtonBase>Join us</ButtonBase>
        </div>
      </div>
    </nav>
  </div>
</template>
