<script setup>
import HeroSection from '../components/HeroSection.vue'
import TreatDeserve from '../components/TreatDeserve.vue'
import TalkPromotion from '../components/TalkPromotion.vue'
import StoryHighlights from '../components/StoryHighlights.vue'
import AnimalCommunity from '../components/AnimalCommunity.vue'
</script>

<template>
  <div>
    <HeroSection />
    <TreatDeserve />
    <TalkPromotion />
    <StoryHighlights />
    <AnimalCommunity />
  </div>
</template>
