<script setup>
defineProps({
  classes: String
})
</script>

<template>
  <div>
    <button
      type="button"
      :class="classes"
      class="text-white text-[14px] leading-[24px] font-bold bg-blue-main hover:bg-sky-600 focus:ring-4 focus:ring-sky-200 rounded-xl px-8 py-4"
    >
      <slot></slot>
    </button>
  </div>
</template>
