<script setup>
import dogBg from '@/assets/img/bg/bgAjg2.png'
import catBg from '@/assets/img/bg/bgKucing2.png'
import communityOne from '@/assets/img/community/community1.png'
import communityTwo from '@/assets/img/community/community2.png'
import communityThree from '@/assets/img/community/community3.png'
import communityFour from '@/assets/img/community/community4.png'
import communityFive from '@/assets/img/community/community5.png'
import ButtonBase from '../themes/ButtonBase.vue'
</script>

<template>
  <div class="relative">
    <img
      :src="catBg"
      class="absolute w-24 lg:w-36 xl:w-[15%] left-0 top-36 sm:top-0 lg:-top-20 xl:-top-4"
    />
    <img
      :src="dogBg"
      class="absolute w-24 lg:w-32 xl:w-[15%] right-0 top-32 sm:top-0 lg:-top-24 xl:-top-28"
    />
    <div class="w-11/12 lg:w-10/12 mx-auto">
      <div class="my-20 lg:mt-32 lg:mb-10">
        <h1 class="text-2xl lg:text-[64px] font-black text-center leading-9 lg:leading-[75px]">
          Dog & Cat
          <span class="bg-yellow-main pt-0.25 pb-1 px-3 rounded-xl lg:rounded-2xl">Community</span>
        </h1>
        <p
          class="text-center max-w-xs sm:max-w-screen-xs text-base lg:text-[18px] text-gray-subtitle leading-6 mt-6 lg:mt-8 lg:max-w-xl mx-auto"
        >
          We’re happy to announce that these four legged fella is
          <span class="lg:block">deserve same treatment as us, be one of us</span>
        </p>
        <div class="flex justify-center mt-10">
          <ButtonBase classes="shadow-xl">Join Community</ButtonBase>
        </div>
      </div>
      <div class="flex lg:justify-center flex-col lg:items-center lg:flex-row">
        <div class="mx-2 mt-6 lg:mt-0 lg:mx-8">
          <img :src="communityOne" class="rounded-[10px] w-full lg:w-auto h-auto shadow-lg" />
        </div>
        <div class="mt-6 lg:mt-0 lg:mx-8">
          <img :src="communityTwo" class="rounded-[10px] w-[80%] lg:w-auto h-auto shadow-lg" />
        </div>
      </div>
      <div class="flex flex-col lg:flex-row justify-between lg:items-center mt-6 lg:mt-10 mb-20">
        <div class="mx-7 lg:mx-0">
          <img :src="communityThree" class="w-[95%] lg:w-auto rounded-[10px] shadow-lg" />
        </div>
        <div class="lg:-ml-32 lg:z-[-1] mt-6">
          <img :src="communityFour" class="w-full lg:w-auto rounded-[10px] shadow-lg" />
        </div>
        <div class="flex justify-center">
          <img
            :src="communityFive"
            class="w-[50%] lg:w-auto rounded-[10px] mt-6 lg:-mt-14 ml-5 shadow-lg"
          />
        </div>
      </div>
    </div>
  </div>
</template>
