<script setup>
import ButtonBase from '../themes/ButtonBase.vue'
import Dog from '@/assets/img/main/imgAjg.png'
import Cat from '@/assets/img/main/imgKucing.png'
import Arrow from '@/assets/img/main/arrowLeft.svg'
import { reactive } from 'vue'

const childAnimal = reactive({
  animal: [
    {
      img: Dog,
      color: 'bg-purple-soft',
      msg: 'Dog'
    },
    {
      img: Cat,
      color: 'bg-blue-soft',
      msg: 'Cat'
    }
  ]
})
</script>

<template>
  <div
    class="bg-bottom bg-cover bg-no-repeat bg-[url('../../../src/assets/img/main/heroBgMobile.png')] lg:bg-[url('../../../src/assets/img/main/heroBg.png')]"
  >
    <div class="pb-72 xs:pb-96 sm:pb-[32rem] md:pb-[36rem] lg:pb-64 lg:pt-32 2xl:pb-72">
      <div class="w-11/12 lg:w-10/12 mx-auto">
        <h1
          class="text-[30px] lg:text-[64px] font-black text-center lg:text-left leading-9 lg:leading-[75px]"
        >
          Everything<br />Your
          <span class="bg-yellow-main pt-0.25 pb-1 px-3 rounded-2xl">Companion</span><br />Need the
          most
        </h1>
        <p class="text-center lg:text-left text-base lg:text-[18px] leading-6 mt-4 my-8">
          Perfect thread & good care for perfect companion, is<span class="xs:block">
            all you gave for your four legged angel</span
          >
        </p>
        <div class="flex justify-center lg:justify-start">
          <ButtonBase classes="shadow-xl">Get Free Sample</ButtonBase>
        </div>
      </div>
    </div>
  </div>
  <div class="-mt-10 lg:-mt-40">
    <div class="hidden lg:flex justify-center items-center mb-8">
      <div class="w-[44px] bg-blue-main rounded-full p-1.5 opacity-50 mx-2">
        <img :src="Arrow" alt="" />
      </div>
      <div class="w-2 h-2 bg-gray-soft rounded-full mx-3"></div>
      <div
        class="w-[10px] h-[10px] outline outline-4 outline-white bg-blue-main rounded-full"
      ></div>
      <div class="w-2 h-2 bg-gray-soft rounded-full mx-3"></div>
      <div class="w-[44px] bg-blue-main rounded-full p-1.5 rotate-180 mx-2">
        <img :src="Arrow" alt="" />
      </div>
    </div>
    <div class="flex justify-center">
      <div v-for="animal in childAnimal.animal" :key="animal.color">
        <div
          class="h-[70px] rounded-2xl lg:w-[395px] lg:h-[180px] lg:rounded-[36px] flex mx-2"
          :class="animal.color"
        >
          <img :src="animal.img" alt="" class="flex-1 pt-3" />
          <h1
            class="flex-1 flex items-center text-[14px] lg:text-[32px] font-extrabold leading-4 lg:leading-[38px] text-white pr-4"
          >
            I'm a {{ animal.msg }}<br />Person
          </h1>
        </div>
      </div>
    </div>
  </div>
</template>
