<script setup>
import storyImg from '@/assets/img/main/storyHighlight.png'
import elemenM from '@/assets/img/main/elemenMBlue.svg'
import elemenMPurple from '@/assets/img/main/elemenMPurpleCrop.svg'
import elemenMDesktop from '@/assets/img/main/elemenMBlueDesktop.svg'
import articleOne from '@/assets/img/article/article1.png'
import articleTwo from '@/assets/img/article/article2.png'
import articleThree from '@/assets/img/article/article3.png'
import ButtonBase from '@/themes/ButtonBase.vue'
import { reactive } from 'vue'

const articleData = reactive({
  data: [
    {
      img: articleOne,
      title: 'Here’s How Dog & Cat serve their four legged Child in Pandemic',
      date: '03 Jan 2021'
    },
    {
      img: articleTwo,
      title: 'Here’s How Dog & Cat serve their four legged Child in Pandemic',
      date: '03 Jan 2021'
    },
    {
      img: articleThree,
      title: 'Here’s How Dog & Cat serve their four legged Child in Pandemic',
      date: '03 Jan 2021'
    }
  ]
})
</script>

<template>
  <div class="relative">
    <img :src="elemenMDesktop" class="absolute hidden lg:block lg:-right-0 lg:-top-10" />
    <img
      :src="elemenMPurple"
      class="absolute w-1/3 top-[1205px] lg:w-auto lg:left-0 lg:top-[470px]"
    />
    <div class="mt-80 md:mt-[768px] lg:mt-24 w-11/12 lg:w-10/12 mx-auto relative">
      <img :src="elemenM" class="absolute -right-4 -top-20 z-[-1] w-[149px] lg:hidden" />
      <h2
        class="text-center lg:text-left text-2xl lg:text-4xl xl:text-5xl font-extrabold lg:leading-[56px] xl:leading-[56px] mb-8"
      >
        <span class="bg-yellow-main pt-0.25 pb-1 px-3 rounded-xl lg:rounded-xl">Story</span>
        & Highlights
      </h2>
      <img :src="storyImg" class="rounded-2xl lg:w-2/3" />
      <div
        class="bg-gray-main rounded-2xl py-8 px-6 mt-4 lg:absolute lg:top-12 xl:top-40 lg:right-0 lg:w-2/4"
      >
        <h3 class="text-[18px] leading-6 font-extrabold lg:text-4xl lg:leading-[46px]">
          Here’s How Dog & Cat serve their four legged Child in Pandemic
        </h3>
        <p class="text-base my-4 lg:text-[18px] lg:leading-[30px]">
          Exact composition of dog food varies widely from one manufac to another, dog food
          generally is made up of meats, meat byproducts, cereals, and grains.
        </p>
        <div class="flex justify-between">
          <p class="font-semibold lg:text-[18px] lg:leading-[30px]">03 Jan 2021</p>
          <button class="text-xl font-bold text-blue-main lg:leading-[32px]">Read More</button>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-7 lg:gap-4 mt-8 lg:mt-16">
        <div v-for="article in articleData.data" :key="article">
          <img :src="article.img" alt="" class="rounded-xl w-full" />
          <h3 class="font-extrabold text-base lg:text-xl lg:leading-8 mt-5 mb-2">
            {{ article.title }}
          </h3>
          <p class="text-sm leading-6 text-gray-subtitle font-semibold lg:text-lg lg:leading-8">
            {{ article.date }}
          </p>
        </div>
      </div>
      <div class="flex justify-center my-8">
        <ButtonBase classes="shadow-lg">See All Story</ButtonBase>
      </div>
    </div>
  </div>
</template>
