<script setup>
import ButtonBase from '../themes/ButtonBase.vue'
import talkDogCat from '@/assets/img/talk/talkDogCat.png'
</script>

<template>
  <div class="bg-gray-main w-full h-[400px] lg:h-[285px] xl:h-[400px] flex flex-col lg:flex-row">
    <div
      class="flex-[47%] flex items-center justify-center pt-20 lg:pt-6 xl:py-0 pb-5 lg:justify-start lg:pl-16"
    >
      <div>
        <h2
          class="text-center lg:text-left text-2xl lg:text-4xl xl:text-5xl font-extrabold lg:leading-[56px] xl:leading-[56px]"
        >
          Need 24 hrs
          <span class="bg-yellow-main pt-0.25 pb-1 px-3 rounded-xl lg:rounded-xl">Convo</span>
          to<br />take care of your Pet?
        </h2>
        <div class="flex justify-center lg:justify-start mt-6">
          <ButtonBase classes="shadow-xl">Begin Vet Talk</ButtonBase>
        </div>
      </div>
    </div>
    <div
      class="flex-[53%] bg-bottom py-48 md:py-96 lg:py-0 bg-cover bg-no-repeat bg-[url('../../../src/assets/img/talk/talkDogCatMobile.png')] lg:bg-[url('../../../src/assets/img/talk/talkBg.svg')] relative"
    >
      <img :src="talkDogCat" class="absolute bottom-0 -left-16 hidden lg:block" />
    </div>
  </div>
</template>
