<script setup>
import FinestImg from '@/assets/img/deserve/deserveIngredient.svg'
import seafoodImg from '@/assets/img/deserve/deserveSeafood.svg'
import supplierImg from '@/assets/img/deserve/deserveSupplier.svg'
import foodImg from '@/assets/img/deserve/deserveFood.svg'
import lineOne from '@/assets/img/deserve/deserveLine1.svg'
import lineTwo from '@/assets/img/deserve/deserveLine2.svg'
import lineThree from '@/assets/img/deserve/deserveLine3.svg'
import dogBg from '@/assets/img/bg/bgAjg.png'
import catBg from '@/assets/img/bg/bgKucing.png'
</script>

<template>
  <div class="relative">
    <img
      :src="dogBg"
      class="absolute w-24 lg:w-36 xl:w-auto left-0 -top-12 lg:-top-24 xl:-top-40"
    />
    <img
      :src="catBg"
      class="absolute w-20 lg:w-32 xl:w-auto right-0 -top-16 lg:-top-24 xl:-top-40"
    />
    <div class="w-11/12 lg:w-10/12 mx-auto my-20 lg:my-32">
      <h1 class="text-2xl lg:text-[64px] font-black text-center leading-9 lg:leading-[75px]">
        Treat They
        <div class="block lg:contents">
          <span class="bg-yellow-main pt-0.25 pb-1 px-3 rounded-xl lg:rounded-2xl">Deserve</span>
        </div>
      </h1>
      <p
        class="text-center text-base lg:text-[18px] text-gray-subtitle leading-6 mt-6 lg:mt-8 lg:max-w-xl mx-auto"
      >
        They deserve healthy food just like you. Not just an ordinary food for pet tummy, but it is
        a healthy, and no allergic thread
      </p>
      <div class="mx-auto mt-10">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
          <div class="mx-auto">
            <div class="relative">
              <img
                :src="lineOne"
                class="absolute -right-32 2xl:-right-36 top-[60%] z-[-1] hidden lg:block"
              />
              <img
                :src="FinestImg"
                class="w-[110px] lg:w-[138px] h-[109px] lg:h-[136px] mx-auto z-10"
              />
            </div>
            <h3 class="text-xl text-center font-extrabold text-blue-main mt-3 mb-2">
              Finest Ingredient
            </h3>
            <p class="text-center text-base lg:text-[18px] leading-base lg:leading-[32px]">
              Perfectly Finest since harvest<span class="block lg:contents xl:block"
                >until packaged</span
              >
            </p>
          </div>
          <div class="mx-auto lg:mt-16">
            <div class="relative">
              <img
                :src="lineTwo"
                class="absolute -right-28 2xl:-right-36 top-[4%] z-[-1] hidden lg:block"
              />
              <img
                :src="seafoodImg"
                class="w-[110px] lg:w-[138px] h-[109px] lg:h-[136px] mx-auto z-10"
              />
            </div>
            <h3 class="text-xl text-center font-extrabold text-blue-main mt-3 mb-2">
              Real Seafood
            </h3>
            <p class="text-center text-base lg:text-[18px] leading-base lg:leading-[32px]">
              Made from the sea to the<span class="block lg:contents xl:block"
                >land, no bad sea food</span
              >
            </p>
          </div>
          <div class="mx-auto">
            <div class="relative">
              <img
                :src="lineThree"
                class="absolute -right-32 2xl:-right-36 top-[60%] z-[-1] hidden lg:block"
              />
              <img
                :src="supplierImg"
                class="w-[110px] lg:w-[138px] h-[109px] lg:h-[136px] mx-auto z-10"
              />
            </div>
            <h3 class="text-xl text-center font-extrabold text-blue-main mt-3 mb-2">
              Trusted Supplier
            </h3>
            <p class="text-center text-base lg:text-[18px] leading-base lg:leading-[32px]">
              Fresh from the farm since<span class="block lg:contents xl:block"
                >packed to pet tummy</span
              >
            </p>
          </div>
          <div class="mx-auto lg:mt-16">
            <img
              :src="foodImg"
              class="w-[110px] lg:w-[138px] h-[109px] lg:h-[136px] mx-auto z-10"
            />
            <h3 class="text-xl text-center font-extrabold text-blue-main mt-3 mb-2">
              A lifetime Food
            </h3>
            <p class="text-center text-base lg:text-[18px] leading-base lg:leading-[32px]">
              From newborn until senior,<span class="block lg:contents xl:block"
                >spanning pet life span.</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
