<script setup>
import { RouterView } from 'vue-router'
import NavBar from './components/layout/NavBar.vue'
import FooterSect from './components/layout/FooterSect.vue'
</script>

<template>
  <header>
    <NavBar />
  </header>
  <RouterView />
  <footer>
    <FooterSect />
  </footer>
</template>
